body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(34, 34, 34);
}

ul {display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
margin:0;
padding:0;
}

li {
  padding: 10px;
  margin: 10px 0 10px 0;
  border-radius: 10px;
  list-style-type: none;
}
